<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cars with CarPlay and CarKey</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/screen.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3086253607979139"
     crossorigin="anonymous"></script>
</head>
<body>

<div class="jumbotron text-center">
	<h1>Cars with CarPlay and CarKey</h1>
	<p>
		Tells you which car models have Apple CarPlay and Apple CarKey.
	</p>
</div>
<div class="container justify-content-md-center py-4">
	{{ content }}
</div>
<div class="container-fluid footer my-0">
    <div class="spacer"></div>
    <div class="container d-flex justify-content-between">
        <h5 class="my-auto">Copyright © 2022 gxlabs</h5>
        <ul class="nav flex-column flex-sm-row">
            <li class="nav-item">
            	<a class="nav-link" href="mailto:enquiries@gxlabs.co">Contact</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
